
.multi-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: 300px;
    margin: .1rem auto;
    border: 1px solid;
    border-radius: 5px;
    padding: 1rem;
}

.multi-form label {
    font-weight: bold;
}

.multi-form button {
    background-color: #723f3f;
    color: white;
    font-weight: bold;
    border-radius: 6px;

}

.multi-form button {
    padding: .5rem;
}

.multi-form button:hover {
    background-color: rgb(224, 227, 231);
    color: black;

}

.multi-form textarea {
    resize: vertical;
    min-height: 80px;
    border-radius: 2px;
}

.multi-form input {
    padding: .2rem;
    border-radius: 2px;
}