.navbar {
  background-color: #252525;
  overflow: hidden;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar .active {
  background-color: #14144d;
  color: white;
}

.header-site-title {
  text-align:right;
  color:#723f3f;
  padding: 8px 25px;
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;

}