html, body {
    height: 100%;
    margin: 0;
}

p {
    line-height: 1.5;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(122, 133, 136);
}

body {
    font-family: serif;
}

@media (max-width: 1200px) {
    body {
        font-size: 1.5vw;
    }

    h1 {
        font-size: 2vw;
    }

    .main-cv {
        padding: 2vw;
    }

    .page-content {
        padding: 2vw;
    }

}

@media (max-width: 600px) {
    body {
        font-size: 3vw;
    }

    .main-cv {
        padding: 3.5vw;
    }

    .sidenav {
        width:100%;
        text-align: center;
    }

    .main-format {
        flex-direction: column;
    }

    img {
       max-width: 100%; 
    }
}