
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2rem;
}

.contact-form textarea {
    min-width: 300px;

}

.preview {
    margin-top: 1.5rem;
    padding: 1.5rem;
    border: 1.5px solid #723f3f;
    border-radius: 2px;
    text-align: center;
}

.preview button {
    background-color: #723f3f;
    color: white;
    padding: .75rem 1rem;
    border-radius: 5px;
    margin: .5rem;

}

.preview button:hover {
    background-color: #f0e5e5;
    color: black;
}

.preview p {
    margin-bottom: 2.5rem;
    font-style: italic;

}